<h1>GIFDUMP</h1>

<div class="grid">
    <% @ideas.each do |idea| %>
    <div class="col-2-3">
      <article class="module">
<!-- <p><%= idea.name %></p>
     <p><%= idea.description %></p> -->
        <p><%= idea.picture %></p><%= link_to 'show', idea %>/<%= link_to 'edit', edit_idea_path(idea) %>/<%= link_to 'delete', idea, method: :delete, data: { confirm: 'Hogg nooooo' } %>
      </article>
    </div>
    <% end %>
</div>

<br>

<%= link_to 'New Idea', new_idea_path %>
